@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$family-sans-serif: 'Poppins', sans-serif;

$primary: #ff5349;

$navbar-item-color: black;

@import '../node_modules/bulma/bulma.sass';
