#logo {
	background: url(../img/Logo-Text.png) no-repeat center center;
	background-size: contain;
	width: 152px;
}

/* Our Solutions Section */
.solution-card {
	display: grid;
	place-items: center;
}

.icon-container {
	display: flex;
	border-radius: 10px;
}

#section-solutions .columns .column:nth-child(1) .icon-container {
	background: #3fffb2;
}

#section-solutions .columns .column:nth-child(2) .icon-container {
	background: #ff665e;
}

#section-solutions .columns .column:nth-child(3) .icon-container {
	background: #e7d7c1;
}

/* Contact Section */
.contact-info p {
	display: flex;
}

.social-icons {
	display: flex;
}

.social-icon {
	background: #353531;
	display: flex;
	width: fit-content;
	border-radius: 50%;
}

.social-icon:nth-child(2) {
	background: #5e2bff;
}
