#logo {
	background: url(../img/Logo-Text.png) no-repeat center center;
	background-size: contain;
	width: 152px;
}

/* Our Solutions Section */
.solution-card {
	display: grid;
	place-items: center;
}

.icon-container {
	display: flex;
	border-radius: 10px;
}

#section-solutions .columns .column:nth-child(1) .icon-container {
	background: #3fffb2;
}

#section-solutions .columns .column:nth-child(2) .icon-container {
	background: #ff665e;
}

#section-solutions .columns .column:nth-child(3) .icon-container {
	background: #e7d7c1;
}

/* Gallery Section */
#section-gallery .box {
	display: flex;
	justify-content: center;
}

#section-gallery .box img {
	height: 10rem;
	padding: 1rem;
	object-fit: contain;
}

/* Process Section */
#section-process::after {
	background: url(../img/wave.svg) no-repeat;
	content: '';
}

#section-process {
	background-color: #e7d7c1;
}

#section-process img {
	width: 300px;
	height: 225px;
}

#section-process .icon-container {
	border-radius: 50%;
	position: relative;
	top: 35%;
	margin: auto;
	width: 48px;
}

#section-process .icon-container {
	background: #ff665e;
}

/* Contact Section */
.contact-info p {
	display: flex;
}

.social-icons {
	display: flex;
}

.social-icon {
	background: #353531;
	display: flex;
	width: fit-content;
	border-radius: 50%;
}

.social-icon:nth-child(2) {
	background: #5e2bff;
}

@media screen and (max-width: 768px) {
	#section-process .icon-container {
		transform: rotate(90deg);
	}
}
